{% extends "FrontOfficeUserBundle::layout_profile.html.twig" %}
{% block content %}
    <div class="col-lg-12">
        <div class="row mb20"></div>
        <div class="col-lg-12">
            <div class="tabsContainer">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="">
                        <a href="{{ path('show_profil', { 'id' : user.id }) }}" >
                            <span class="icon-trophy"></span> Events
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{ path('club_user', { 'id' : user.id }) }}" role="tab" data-toggle="tab">
                            <span class="fa fa-users"></span> Clubs
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('albums_user', { 'id' : user.id }) }}" >
                            <span class="icon-doc"></span> Albums
                        </a>
                    </li>
                    <li class="">
                        <a href="#videos" role="tab" data-toggle="tab">
                            <span class="icon-film"></span> Vidéos
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('palmares_user', { 'id' : user.id }) }}" >
                            <span class="icon-badge"></span> Palmares
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <ul class="tab-pane fade active in scrollbar" id="clubs" style=" overflow-x: hidden; overflow-y: auto; overflow-wrap: break-word; max-height: 87%;background-color:#fff;">       
                        <div class="userWidget-2" style="box-shadow:1px 2px 10px 1px rgba(0, 0, 0, 0.13)">
                            <div class="avatar" >
                                <img src="images/logo1.jpg" alt="avatar" style="width:100px;height:100px">
                            </div>
                            <div class="info">
                                <div class="name">Nom du Club</div>
                                <div class="title">Créateur du club : <span class="address">Abweb abweb</span></div>
                                <div class="title">Adresse du club : <span class="address">Tunis</span></div>
                                <div class="title">Frais d'abonnement : <span class="address">200 $</span></div>
                            </div>
                            <div class="info" style="margin-left:10px;width:40%">
                                <div class="title">Text descriptif : <span class="address">le club est un chocolat tunisien tres mauvais avec des différents gouts chiant</span></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </ul>
                </div>
                <div class="clearfix"></div>



               
            </div>

        </div>

    </div>

{% endblock %}




