{% extends "FrontOfficeOptimusBundle::layout.html.twig" %}
{% block body %}
    <div id="wrapper">
        <div id="content" class="max">
            <div class="components">
                <h4>Tout</h4>
                <div class="row">
                    <div class="col-md-3">
                        <ol class="breadcrumb">
                            <ul class="notifyList nav">
                                <li class="active"><a href="#notifications" class="notifyName" role="tab" data-toggle="tab"><span class="notifyIcon icon-bell"></span> Notiifications</a></li>
                                <li class=""><a href="#demandes" class="notifyName" role="tab" data-toggle="tab"><span class="notifyIcon icon-users"></span> Demandes d'ajout</a></li>
                            </ul>
                        </ol>
                    </div>
                    <div class="col-md-9">
                        <div class="tabsContainer">
                            <div class="tab-content ">
                                <ul class="tab-pane fade active in scrollbar" id="notifications">
                                    <div class="notificationsWidget">
                                        <h5>Notifications</h5>
                                        {% for notification in notifications %}
                                            {% set notificateur = getUser(notification.notificateur) %}
                                        <div class="notification">
                                            <div class="time green">
                                                <div class="timeBody hidden-xs">{{ notification.datenotification|date('Y-m-d H:i:s') }}</div>
                                                <div class="timeArrow hidden-xs"><span class="fa fa-caret-right"></span></div>
                                                <div class="indicator"><span class="fa fa-circle-o"></span></div>
                                                <div class="notifyArrow"><span class="fa fa-caret-left"></span></div>
                                            </div>
                                            <div class="notifyContent">
                                                <div class="notifyBody">
                                                    <a href="#">
                                                        <img class="avatar pull-left" src="{{ asset(notificateur.WebPath) }}" alt="avatar"> </a>
                                                    <div class="notify pull-left">
                                                        <a href="#" class="name">Essid Essid <span class="label label-green visible-xs">02/02/2015 à 14:48</span></a>
                                                        <div class="message">a partagé une nouvelle publication </div>
                                                    </div>
                                                    <div class="clearfix">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </ul>
                                <div class="loader" id="loaderClub">
                                    <img src="{{asset('template/images/ajax-loader-comment.gif') }}">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}