{% extends "FrontOfficeOptimusBundle::layout.html.twig" %}
{% block body %}
    <div id="wrapper">

      

                    <div class="singleTop whiteBg" style="height:100%">

                        <div align="center ">
                            <h1 align="center">Cette page n’est malheureusement pas disponible.</h1>
                            <img   src="{{ asset('template/images/404.jpg') }}"/>
                            <h4><a href="{{ path('accueil') }}"> <span class="glyphicon glyphicon-home"> </span>  Aller à la page d’accueil Optimus</a></h4>

                        </div>  </div>
                </div>

    
{% endblock %}