{% extends "FrontOfficeOptimusBundle::layoutClub.html.twig" %}
{% block content %}
    <div class="col-lg-12"><div class="row mb20">
        </div>
        <div class="col-lg-12">
            <div class="tabsContainer">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="active"><a href="#Programme" role="tab" data-toggle="tab"><span class="icon-trophy"></span> Programme</a></li>
                    <li class=""><a href="{{ path('palmares_club',{'id' : club.id}) }}" role="tab" ><span class="icon-badge"></span> Palmares</a></li>
                    <li class=""><a href="{{ path('albums_club', {'id' : club.id}) }}" role="tab" ><span class="icon-doc"></span> Albums</a></li>
                    <li class=""><a href="#videos" role="tab"><span class="icon-film"></span> Vidéos</a></li>
                    <li class=""><a href="#liste" role="tab" ><span class="icon-user-following"></span> Liste adhérents</a></li>
                    <li class=""><a href="#demande" role="tab" ><span class="icon-user-unfollow"></span> Adhèrer</a></li>
                </ul>
                <div class="tab-content">
                    <ul class="tab-pane fade  active in scrollbar" id="Programme" >
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}