{% extends "FrontOfficeOptimusBundle::layout_club.html.twig" %}
{% block content %}
   <div class="col-lg-12"><div class="row mb20">



</div>
<div class="col-lg-12">
<div class="tabsContainer">
<ul class="nav nav-tabs nav-justified" role="tablist">
<li class="active"><a href="#Programme" role="tab" data-toggle="tab"><span class="icon-trophy"></span> Programme</a></li>
<li class=""><a href="#palmares" role="tab" data-toggle="tab"><span class="icon-badge"></span> Palmares</a></li>
<li class=""><a href="#albums" role="tab" data-toggle="tab"><span class="icon-doc"></span> Albums</a></li>
<li class=""><a href="#videos" role="tab" data-toggle="tab"><span class="icon-film"></span> Vidéos</a></li>
<li class=""><a href="#liste" role="tab" data-toggle="tab"><span class="icon-user-following"></span> Liste adhérents</a></li>
<li class=""><a href="#demande" role="tab" data-toggle="tab"><span class="icon-user-unfollow"></span> Adhèrer</a></li>
</ul>
<div class="tab-content">

<ul class="tab-pane fade  active in scrollbar" id="#Programme" >



</ul>







<ul class="tab-pane fade  scrollbar" id="albums" >





<div class="buttonsWrapper col-md-12">
<a class="btn btn-round btn-default btn-sm rightus" href="#"><span class="fa icon-plus state"></span> <span class="state">Ajouter </span></a><br>
<br>
</div>

<div class="row">
<br>
<div class="col-md-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/1.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/1.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de photo</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>

<div class="col-md-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/2.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/2.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de photo</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>



<div class="col-md-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/3.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/3.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de photo</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>



<div class="col-md-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/4.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/4.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de photo</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>


<div class="col-md-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/5.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/5.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de photo</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>



<div class="col-md-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/6.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/6.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de photo</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>



<div class="col-md-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/1.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/1.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de photo</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>



<div class="col-md-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/1.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/1.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de photo</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>


<div class="col-md-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/1.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/1.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de photo</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>
</div>
<div class="clearfix"></div>




</ul>

<ul class="tab-pane fade scrollbar videosus" id="videos"  >







<div class="row">
<br>
<div class="col-xs-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/bg-1.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/bg-1.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de video</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>



<div class="col-xs-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/bg-1.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/bg-1.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de video</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>



<div class="col-xs-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/bg-1.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/bg-1.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de video</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>


<div class="col-xs-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/bg-1.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/bg-1.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de video</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>


<div class="col-xs-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/bg-1.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/bg-1.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de video</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>



<div class="col-xs-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/bg-1.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/bg-1.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de video</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>



<div class="col-xs-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/bg-1.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/bg-1.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de video</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>

<div class="col-xs-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/bg-1.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/bg-1.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de video</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>



<div class="col-xs-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/bg-1.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/bg-1.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de video</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>
</div>
<div class="clearfix"></div>

</ul>
<ul class="tab-pane fade scrollbar" id="demande" >

<div class="row pb40">
                    <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div> <br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="accepter"><span class="fa fa-check"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="refuser"><span class="fa fa-close"></span></a>
</div><br>
                        </div>
                    </div>
					
				
				        <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div> <br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="accepter"><span class="fa fa-check"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="refuser"><span class="fa fa-close"></span></a>
</div><br>
                        </div>
                    </div>
					
					
					
					        <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div> <br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="accepter"><span class="fa fa-check"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="refuser"><span class="fa fa-close"></span></a>
</div><br>
                        </div>
                    </div>
					
					
					
					
					        <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div> <br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="accepter"><span class="fa fa-check"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="refuser"><span class="fa fa-close"></span></a>
</div><br>
                        </div>
                    </div>
					
					
					
					
					        <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div> <br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="accepter"><span class="fa fa-check"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="refuser"><span class="fa fa-close"></span></a>
</div><br>
                        </div>
                    </div>
					
					
					
					
					        <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div> <br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="accepter"><span class="fa fa-check"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="refuser"><span class="fa fa-close"></span></a>
</div><br>
                        </div>
                    </div>
					
					
					
					
					        <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div> <br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="accepter"><span class="fa fa-check"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="refuser"><span class="fa fa-close"></span></a>
</div><br>
                        </div>
                    </div>
					
					
					
					
					        <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div> <br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="accepter"><span class="fa fa-check"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="refuser"><span class="fa fa-close"></span></a>
</div><br>
                        </div>
                    </div>
					
					
					
					
					        <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div> <br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="accepter"><span class="fa fa-check"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="refuser"><span class="fa fa-close"></span></a>
</div><br>
                        </div>
                    </div>
					
		
			
            
                </div>
				<div class="clearfix"></div>
</ul>

<ul class="tab-pane fade scrollbar" id="liste" >

<div class="row pb40">
                    <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div><br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="retirer"><span class="fa fa-close"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="signaler"><span class="fa fa-legal"></span></a>
</div><br>
                        </div>
                    </div>
					
					
			           <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div><br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="retirer"><span class="fa fa-close"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="signaler"><span class="fa fa-legal"></span></a>
</div><br>
                        </div>
                    </div>
					           <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div><br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="retirer"><span class="fa fa-close"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="signaler"><span class="fa fa-legal"></span></a>
</div><br>
                        </div>
                    </div>
					           <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div><br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="retirer"><span class="fa fa-close"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="signaler"><span class="fa fa-legal"></span></a>
</div><br>
                        </div>
                    </div>
					           <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div><br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="retirer"><span class="fa fa-close"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="signaler"><span class="fa fa-legal"></span></a>
</div><br>
                        </div>
                    </div>           <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div><br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="retirer"><span class="fa fa-close"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="signaler"><span class="fa fa-legal"></span></a>
</div><br>
                        </div>
                    </div>
					           <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div><br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="retirer"><span class="fa fa-close"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="signaler"><span class="fa fa-legal"></span></a>
</div><br>
                        </div>
                    </div>           <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div><br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="retirer"><span class="fa fa-close"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="signaler"><span class="fa fa-legal"></span></a>
</div><br>
                        </div>
                    </div>
					           <div class="col-md-4">
					

                        <div class="tooltipsContainer agent notifyList">
                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                <img src="images/avatar-4.png" alt="">
                                <div class="pulse border-green pulseoptimus"></div>
                            </a>
                           <div class="info">
<a href="#"> <div class="name clubumus"><strong>Nom et Prénom</strong></div></a>
<div class="title">Sportif / Entraineur</div>

</div><br>
                           <div align="center">
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="retirer"><span class="fa fa-close"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="signaler"><span class="fa fa-legal"></span></a>
</div><br>
                        </div>
                    </div>
					
	
            
            
                    
            
                </div>
				<div class="clearfix"></div>
</ul>


<ul class="tab-pane fade scrollbar" id="palmares" >







<div class="row">
<br>
<div class="col-md-4" >
<div data-linkto="" class="card albumus" >
<br>
<div class="profile-card">
<div class="pc-avatar"><a href="#" class="btn btn-icon btn-round btn-o btn-pinterest palmaruss" ><span class="fa fa-child palmarus"></span></a></div>
<div class="pc-name">Titre</div>
</div>
<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>



<div class="col-md-4" >
<div data-linkto="" class="card albumus" >
<br>
<div class="profile-card">
<div class="pc-avatar"><a href="#" class="btn btn-icon btn-round btn-o btn-pinterest palmaruss" ><span class="fa fa-star palmarus"></span></a></div>
<div class="pc-name">Classement</div>
</div>
<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>


<div class="col-md-4" >
<div data-linkto="" class="card albumus" >
<br>
<div class="profile-card">
<div class="pc-avatar"><a href="#" class="btn btn-icon btn-round btn-o btn-pinterest palmaruss" ><span class="fa fa-calendar palmarus"></span></a></div>
<div class="pc-name">Date</div>
</div>
<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>




</div>
</div>
<div class="clearfix"></div>



</ul>






</div>

</div>

</div>

{% endblock %}