{% extends "FrontOfficeOptimusBundle::layout.html.twig" %}

{% block body %}
    <div id="wrapper">

        <div id="content" class="mob-max" >

            
            <div class="col-lg-12"><div class="row mb20">
                </div>
               


                <div class="col-lg-12">
                    <!--********************************************************-->






                    <div class="userWidget-1 manamus" >
                        <div class="avatar" id="main">
                            <div class="col-md-4">
                                <div class="propWidget-1 logotus tooltipsContainer ">
                                    
                                </div>
                            </div>
                           
                           
                        </div>


                        <div class=" address profilus" style="font-size:18px;"> 

                          



                          

                        </div>

                        <div class="clearfix"></div>
                    </div>







                    <!--********************************************************-->


                    <div class="tabsContainer">
                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li class="active"><a href="#participants" role="tab" data-toggle="tab"><span class="icon-trophy"></span> Participants</a></li>
                            <li class=""><a href="#photos" role="tab" data-toggle="tab"><span class="icon-doc"></span> Photos</a></li>
                            <li class=""><a href="#videos" role="tab" data-toggle="tab"><span class="icon-film"></span> Vidéos</a></li>
                        </ul>
                        <div class="tab-content">

                            <ul class="tab-pane fade  active in scrollbar" id="participants" >
                                <div id="msgparticipe" ></div>
                                <br/>
                                <div class="row" id="blockparticip">

                                  

                                </div>

                                <div class="clearfix"></div>

                            </ul>
                            <ul class="tab-pane fade  scrollbar" id="photos" >

                               
                            </ul>
                            
                        </div>
                        <div class="clearfix"></div>

                    </div>

                </div>

            </div>
        </div>
        <div id="map-club" style="height: 100%" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div> </div>
    </div>


{% endblock %}
{% block javascriptfils %}
    

                <script>
                            "use strict";
                            function initialize() {
                            var options = {
                            zoom : 15,
                                    mapTypeId: google.maps.MapTypeId.HYBRID
                            };
                                    var mapclub = new google.maps.Map(document.getElementById('map-club'), options);
                                    if (navigator.geolocation) {

                            navigator.geolocation.getCurrentPosition(function (position) {

                            var posevent = new google.maps.LatLng(position.coords.latitude,
                                    position.coords.longitude);
                                    var newMarker = new google.maps.Marker({

                                    position: posevent,
                                            map: mapclub,
                                            icon: new google.maps.MarkerImage('http://www.optimus-beta.com/web/template/images/marker-position.png'),
                                            draggable: false,
                                            animation: google.maps.Animation.DROP

                                    });
                                    var myLatLng = new google.maps.LatLng({{club.lat}}, {{club.lng}});
                                    var markerclub = new google.maps.Marker({
                                    position: myLatLng,
                                            map: mapclub,
                                            icon: new google.maps.MarkerImage('http://www.optimus-beta.com/web/template/images/marker-green.png'),
                                            draggable: false,
                                            animation: google.maps.Animation.DROP
                                    });
                                    var directionsDisplay;
                                    var directionsService = new google.maps.DirectionsService()
                                    directionsDisplay = new google.maps.DirectionsRenderer({
                                    polylineOptions: {
                                    strokeColor: "#c02100"
                                    }
                                    });
                                    directionsDisplay.setMap(mapclub);
                                    calcRoute();
                                    function calcRoute() {

                                    var request = {
                                    origin:posevent,
                                            destination:myLatLng,
                                            travelMode: google.maps.TravelMode.DRIVING
                                    };
                                            directionsService.route(request, function(response, status) {
                                            if (status == google.maps.DirectionsStatus.OK) {
                                            directionsDisplay.setDirections(response);
                                                    directionsDisplay.setOptions({ suppressMarkers: true });
                                            }
                                            });
                                    }
                            }, function () {
                            handleNoGeolocation(true);
                            });
                            } else {
                            handleNoGeolocation(false);
                            }



                            }

                    google.maps.event.addDomListener(window, 'load', initialize);
                            
                   

                    </script>


                    {% endblock %}